<section class="vmedo-store-mobile-section py-4 bg-white">
    <div class="px-4 pb-3">
      <h2 class="font-medium">Medical Supplies</h2>
    </div>

    <swiper [config]="vmedo_store_mobile">

      <ng-template swiperSlide>
        <div class="medical-supply-mobile-card bg-white shadow-md rounded-md p-2" onclick="window.location.href='https://store.vmedo.com/products/vmedo-first-aid-kit-medium-with-first-aid-itmes-suitable-for-office-school-home-travel?sku_id=51752984'">
          <div class="text-left px-2">
            <p class="font-medium text-gray-800" style="font-size: 14px">
              Home First aid kits
            </p>
          </div>

          <div class="flex items-center p-1">
            <img src="assets/images/website-images/store-images/vmedo_store-1.png" alt="Image" class="w-4/5" />
          </div>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="medical-supply-mobile-card bg-white shadow-md rounded-md p-2" onclick="window.location.href='https://store.vmedo.com/products/4u-adult-diapers-pull-up?sku_id=51937412'">
          <div class="text-left px-2">
            <p class="font-medium text-gray-800" style="font-size: 14px">
              Adult Diapers
            </p>
          </div>

          <div class="flex items-center p-3">
            <img src="assets/images/website-images/store-images/vmedo_store-2.png" alt="Image"
              class="w-fit h-fit object-fill" />
          </div>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="medical-supply-mobile-card bg-white shadow-md rounded-md p-2" onclick="window.location.href='https://store.vmedo.com/products/foldable-wheelchair?sku_id=51802377'">
          <div class="text-left px-2">
            <p class="font-medium text-gray-800" style="font-size: 14px">
              Wheelchair
            </p>
          </div>

          <div class="flex items-center p-1">
            <img src="assets/images/website-images/store-images/vmedo_store-3.png" alt="Image" class="w-full" />
          </div>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="medical-supply-mobile-card bg-white shadow-md rounded-md p-2" onclick="window.location.href='https://store.vmedo.com/'">
          <div class="text-left px-2">
            <p class="font-medium text-gray-800" style="font-size: 14px">
              oxygen concentrator
            </p>
          </div>

          <div class="flex items-center p-3">
            <img src="assets/images/website-images/store-images/vmedo_store-4.png" alt="Image" class="w-full" />
          </div>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="medical-supply-mobile-card bg-white shadow-md rounded-md p-2" onclick="window.location.href='https://store.vmedo.com/products/blood-pressure-apparatus?sku_id=51795955'">
          <div class="text-left px-2">
            <p class="font-medium text-gray-800" style="font-size: 14px">
              BP apparatus
            </p>
          </div>

          <div class="flex items-center p-3">
            <img src="assets/images/website-images/store-images/vmedo_store-5.png" alt="Image" class="w-full" />
          </div>
        </div>
      </ng-template>

    </swiper>
  </section>