<section class="vmedo-services-section-desktop pb-12 px-14" style="margin-top: -175px">
    <swiper [config]="vmedo_services_desktop2">
      <ng-template swiperSlide>
        <div class="vmedo-services-card2 bg-white rounded-lg shadow-md p-2"
          [routerLink]="'/services/emergency-online-doctor-consultation'">
          <div style="display: flex; justify-content: center">
            <img src="assets\images\new_images\service-1.png" alt="Banner 4" style="width: 60%" class="image" />
          </div>

          <div class="py-2">
            <p class="font-medium">Online doctor consultation</p>
          </div>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="vmedo-services-card2 bg-white rounded-lg shadow-md p-2"
          [routerLink]="'/services/ambulance-service-india'">
          <div style="display: flex; justify-content: center">
            <img src="assets\images\new_images\service-2.png" alt="Banner 4" style="width: 60%" />
          </div>

          <div class="py-2">
            <p class="font-medium">Ambulance service</p>
          </div>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="vmedo-services-card2 bg-white rounded-lg shadow-md p-2"
          [routerLink]="'/services/urgent-medical-care-at-home'">
          <div style="display: flex; justify-content: center">
            <img src="assets\images\new_images\service-4.png" alt="Banner 4" style="width: 60%" />
          </div>

          <div class="py-2">
            <p class="font-medium">Urgent care at home </p>
          </div>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="vmedo-services-card2 bg-white rounded-lg shadow-md p-2"
          [routerLink]="'/services/diagnostics-at-home'">
          <div style="display: flex; justify-content: center">
            <img src="assets/images/website-images/vmedo_services_11.png" alt="Banner 4" style="width: 60%" />
          </div>

          <div class="py-2">
            <p class="font-medium">Diagnostics at home </p>
          </div>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="vmedo-services-card2 bg-white rounded-lg shadow-md p-2"
          onclick="window.location.href='https://store.vmedo.com/'">
          <div style="display: flex; justify-content: center">
            <img src="assets\images\new_images\service-6.png" alt="Banner 4" style="width: 60%" />
          </div>

          <div class="py-2">
            <p class="font-medium">Medical supplies</p>
          </div>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="vmedo-services-card2 bg-white rounded-lg shadow-md p-2" [routerLink]="'/hospitals'">
          <div style="display: flex; justify-content: center">
            <img src="assets\images\new_images\service-3.png" alt="Banner 4" style="width: 60%" />
          </div>

          <div class="py-2">
            <p class="font-medium">Hospital admission</p>
          </div>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="vmedo-services-card2 bg-white rounded-lg shadow-md p-2"
          [routerLink]="'/services/find-blood-donor'">
          <div style="display: flex; justify-content: center">
            <img src="assets/images/website-images/vmedo_services_12.png" alt="Banner 4" style="width: 60%" />
          </div>

          <div class="py-2">
            <p class="font-medium">Find Blood Donor </p>
          </div>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="vmedo-services-card2 bg-white rounded-lg shadow-md p-2"
          onclick="window.location.href='https://academy.vmedo.com/'">
          <div style="display: flex; justify-content: center">
            <img src="assets/images/website-images/vmedo_services_13.png" alt="Banner 4" style="width: 60%" />
          </div>

          <div class="py-2">
            <p class="font-medium">Learn First aid skills</p>
          </div>
        </div>
      </ng-template>
    </swiper>
  </section>