<footer class="desktop-footer-section bg-gray-800 text-white py-8 relative bottom-0 left-0 w-full">
    <div class="container mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
        <!-- First row - First column (About Company) -->
        <div>
          <h3 class="text-lg font-semibold mb-4">About Company</h3>

          <div style="margin-top: -6%;">
            <div class="py-2">
              <img src="assets/img/logo-white.png" alt="Logo" class="w-36" [routerLink]="'/home'" />
            </div>
            <p class="text-sm">
              VMEDO is a digital healthcare platform, on a mission to make quality healthcare accessible and affordable to all..
            </p>

            <div>
              <button>
                <p class="hover:text-gray-400 text-red-700 font-medium" [routerLink]="'/info/aboutus'">
                  Read More..</p>
              </button>
            </div>
          </div>
        </div>

        
        <!-- First row - Second column (Links) -->
        <div class="grid grid-rows-7 gap-0">
          <h3 class="text-lg font-semibold mb-4">Quick Links</h3>

          <div class="flex flex-row text-sm">
            <div>
              <i class="fa-solid fa-greater-than text-sm"></i>
            </div>
            <div class="ml-2">
              <a class="hover:text-gray-400" [routerLink]="'/services/emergency-online-doctor-consultation'">
                Online Doctor Consultation</a>
            </div>

          </div>

          <div class="flex flex-row text-sm">
            <div>
              <i class="fa-solid fa-greater-than text-sm"></i>
            </div>
            <div class="ml-2">
              <a class="hover:text-gray-400" [routerLink]="'/services/urgent-medical-care-at-home'">
                Urgent care at home</a>
            </div>

          </div>

          <div class="flex flex-row text-sm">
            <div>
              <i class="fa-solid fa-greater-than text-sm"></i>
            </div>
            <div class="ml-2">
              <a class="hover:text-gray-400" [routerLink]="'/services/diagnostics-at-home'">
                Diagnostics at home</a>
            </div>

          </div>



          <div class="flex flex-row text-sm">
            <div>
              <i class="fa-solid fa-greater-than text-sm"></i>
            </div>
            <div class="ml-2">
              <a class="hover:text-gray-400" [routerLink]="'/services/ambulance-service-india'">
                VMEDO Ambulance</a>
            </div>

          </div>

          <div class="flex flex-row text-sm">
            <div>
              <i class="fa-solid fa-greater-than text-sm"></i>
            </div>
            <div class="ml-2">
              <a href="https://store.vmedo.com" class="hover:text-gray-400">
                VMEDO Store</a>
            </div>

          </div>

          <div class="flex flex-row text-sm">
            <div>
              <i class="fa-solid fa-greater-than text-sm"></i>
            </div>
            <div class="ml-2">
              <a class="hover:text-gray-400" [routerLink]="'/info/occupational-health-services'">
                For Corporates</a>
            </div>

          </div>

          <div class="flex flex-row text-sm">
            <div>
              <i class="fa-solid fa-greater-than text-sm"></i>
            </div>
            <div class="ml-2">
              <a href="https://vmedo.com/first-aid-training/index.html" class="hover:text-gray-400">
                First Aid Training</a>
            </div>

          </div>

        </div>

        <!-- First row - Third column (Links) -->
        <div class="grid grid-rows-7 gap-0">
          <h3 class="text-lg font-semibold mb-4">More</h3>

          <div class="flex flex-row text-sm">
            <div>
              <i class="fa-solid fa-greater-than text-sm"></i>
            </div>
            <div class="ml-2">
              <p> <a href="https://vmedo.com/blog" class="hover:text-gray-400">
                  Blog</a> </p>
            </div>

          </div>

          <div class="flex flex-row text-sm">
            <div>
              <i class="fa-solid fa-greater-than text-sm"></i>
            </div>
            <div class="ml-2">
              <p> <a href="https://academy.vmedo.com" class="hover:text-gray-400">
                  VMEDO Academy</a> </p>
            </div>

          </div>

          <div class="flex flex-row text-sm">
            <div>
              <i class="fa-solid fa-greater-than text-sm"></i>
            </div>
            <div class="ml-2">
              <p> <a class="hover:text-gray-400" [routerLink]="'/hospitals'">
                  Emergency Hospital Admission</a> </p>
            </div>

          </div>

          

          <div class="flex flex-row text-sm">
            <div>
              <i class="fa-solid fa-greater-than text-sm"></i>
            </div>
            <div class="ml-2">
              <p> <a class="hover:text-gray-400" [routerLink]="'/info/aboutus'">
                  About us</a> </p>
            </div>

          </div>

          <div class="flex flex-row text-sm">
            <div>
              <i class="fa-solid fa-greater-than text-sm"></i>
            </div>
            <div class="ml-2">
              <p> <a href="https://vmedo.com/blog/career-jobs-at-vmedo/" class="hover:text-gray-400">
                  Career</a> </p>
            </div>

          </div>

          <div class="flex flex-row text-sm">
            <div>
              <i class="fa-solid fa-greater-than text-sm"></i>
            </div>
            <div class="ml-2">
              <p> <a class="hover:text-gray-400" [routerLink]="'/info/partner-with-us'">
                  Partner with us</a> </p>
            </div>

          </div>

          <div class="flex flex-row text-sm">
            <div>
              <i class="fa-solid fa-greater-than text-sm"></i>
            </div>
            <div class="ml-2">
              <p> <a class="hover:text-gray-400" [routerLink]="'/info/contact-us'">
                  Contact us</a> </p>
            </div>

          </div>

        </div>

        <!-- First row - Forth column (Links) -->
        <div class="grid grid-rows-7 gap-0">
          <h3 class="text-lg font-semibold">Follow us on</h3>
          <div class="flex space-x-4">
            <a href="https://www.facebook.com/vmedohealthcare" class="text-white hover:text-gray-400 text-2xl mr-3"><i
                class="fab fa-facebook"></i></a>
            <a href="https://twitter.com/vmedoapp" class="text-white hover:text-gray-400 text-2xl mr-3"><i
                class="fa-brands fa-x-twitter"></i></a>
            <a href="https://www.instagram.com/vmedo_healthcare/" class="text-white hover:text-gray-400 text-2xl mr-3"><i
                class="fab fa-instagram"></i></a>
            <a href="https://in.linkedin.com/company/vmedo" class="text-white hover:text-gray-400 text-2xl mr-3"><i
                class="fab fa-linkedin"></i></a>
            <a href="https://www.youtube.com/channel/UClEydLiJCRonhXN7vMf4ikg"
              class="text-white hover:text-gray-400 text-2xl mr-3"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>

      <div class="flex justify-center mt-8">
        <div>
          <h2 class="text-center">"we work to save lives"</h2>
        </div>
      </div>

      <div class="justify-between text-center mt-8 border-t border-gray-700 pt-8">
        <!-- Second row - First column (Copyright) -->
        <div>
          <p>
            &copy; Copyrights Arera Healthcare and Technologies Pvt Ltd 2024.
            All rights reserved.
          </p>
        </div>

        <!-- Second row - Second column (Social Media Icons) -->
        <div class="py-2">
          <div class="flex flex-row justify-center">
            <div>
              <h3 class="text-sm">
                <a href="https://vmedo.com/vmedo-terms.html" class="hover:text-gray-400">
                  Terms & Conditions</a>

              </h3>
            </div>
            <div class="px-4">
              <h3 class="text-sm">
                <a href="https://vmedo.com/vmedo-privacy.html" class="hover:text-gray-400">
                  Privacy policy</a>
              </h3>
            </div>
            <div>
              <h3 class="text-sm">
                <a href="https://vmedo.com/sitemap.xml" class="hover:text-gray-400">
                  Sitemap</a>
              </h3>
            </div>

          </div>
        </div>
      </div>
    </div>
  </footer>