<section class="what-people-say-about-us-section-desktop py-10 px-8 bg-white">
    <h2 class="text-3xl mb-8 pl-8 font-medium text-black">
      What people say about us
    </h2>

    <div>

      <swiper [config]="vmedo_review_desktop2" class="px-10">
        <ng-template swiperSlide>
            <div class="what-people-say-about-us-card-desktop2 bg-white rounded-xl shadow-md p-2">
                <div class="flex justify-center items-center" style="height: 30%">
                    <img src="assets/images/website-images/subscription/Lakshmish_review.jpeg"
                        alt="Person Image" style="border-radius: 50%; height: 100%; width: auto" />
                </div>
                <div class="overflow-auto pt-3" style="height: 50%">
                    <p class="text-sm h-full p-3">
                        "I was able to save a person’s life during my Trekking Event with the help of VMEDO.
                        I feel more confident being trained in First aid from VMEDO and relaxed for the fact
                        that VMEDO is there for my help in case of Emergency"
                    </p>
                </div>
                <div class="h-20 flex flex-col justify-center items-center" style="height: 20%">
                    <p class="font-medium text-red-900">Lakshmish gowda</p>
                    <p class="text-sm font-medium text-red-900">Mountaineer</p>
                    <p class="text-sm font-medium text-red-900">Explore Nation</p>

                </div>
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <div class="what-people-say-about-us-card-desktop2 bg-white rounded-xl shadow-md p-2">
                <div class="flex justify-center items-center" style="height: 30%">
                    <img src="assets/images/website-images/subscription/Arvind_review.jpeg"
                        alt="Person Image" style="border-radius: 50%; height: 100%; width: auto" />
                </div>
                <div class="overflow-auto pt-3" style="height: 50%">
                    <p class="text-sm h-full p-3">
                        "As a member of VMEDO I never thought I would use it, But just within 6 Months I had
                        to take the help of VMEDO to save my Aunt’s life. I truly want to thank the entire
                        team for saving my family member, and I recommend everyone to become a VMEDO member"
                    </p>
                </div>
                <div class="h-20 flex flex-col justify-center items-center" style="height: 20%">
                    <p class="font-medium text-red-900">Arvind LR</p>
                    <p class="text-sm font-medium text-red-900">Founder, Chairman</p>
                    <p class="text-sm font-medium text-red-900">Sudheergha Industries</p>
                </div>
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <div class="what-people-say-about-us-card-desktop2 bg-white rounded-xl shadow-md p-2">
                <div class="flex justify-center items-center" style="height: 30%">
                    <img src="assets/images/website-images/subscription/Prashanth_review.jpeg"
                        alt="Person Image" style="border-radius: 50%; height: 100%; width: auto" />
                </div>
                <div class="overflow-auto pt-3" style="height: 50%">
                    <p class="text-sm h-full p-3">
                        "VMEDO was able to send an Ambulance within 5 min when one of our member met with a
                        serious injury. We are happy to be associated with VMEDO as our Emergency response
                        partner"
                    </p>
                </div>
                <div class="h-20 flex flex-col justify-center items-center" style="height: 20%">
                    <p class="font-medium text-red-900">Prashanth</p>
                    <p class="text-sm font-medium text-red-900">Smash-It Badminton club</p>
                    <p class="text-sm font-medium text-red-900">Shimoga</p>
                </div>
            </div>
        </ng-template>

        <ng-template swiperSlide>
            <div class="what-people-say-about-us-card-desktop2 bg-white rounded-xl shadow-md p-2">
                <div class="flex justify-center items-center" style="height: 30%">
                    <img src="assets/images/website-images/subscription/Ravi_review.jpeg" alt="Person Image"
                        style="border-radius: 50%; height: 100%; width: auto" />
                </div>
                <div class="overflow-auto pt-3" style="height: 50%">
                    <p class="text-sm h-full p-3">
                        "VMEDO team arranged an ICU bed in a hospital when we were struggling to find an ICU
                        bed for my Dad, I feel blessed to be a member of VMEDO. God bless them!"
                    </p>
                </div>
                <div class="h-20 flex flex-col justify-center items-center" style="height: 20%">
                    <p class="font-medium text-red-900">Ravi</p>
                    <p class="text-sm font-medium text-red-900">Bengaluru</p>
                </div>
            </div>
        </ng-template>



    </swiper>
    </div>

    <div class="mt-2 pt-6 pb-2 flex flex-row px-12 justify-center">
      <h3 class="font-medium text-blue-600"><a href="https://maps.app.goo.gl/Hbz8HoAxTEgHAkdS9"
          class="text-blue-600">View more Google reviews <i class="fa-solid fa-arrow-right text-blue-600"> </i></a>
      </h3>
    </div>

  </section>