<nav class="navbar-payment">
    <div class="navbar-logo">
        <img src="assets/img/vmedologo.png" alt="Logo" class="logo">
    </div>
</nav>



<div class="container">

    <div class="payment-status mt-3">
        <h1>Payment Status</h1>
        <div *ngIf="paymentSuccessful">
            <div>
                <img src="assets\images\new_images\checked.png" loading="lazy" alt="" class="image">
            </div>

            <div class="mt-3">
                <p>Thank you for your payment. Your payment was successful.</p>
            </div>

            <div class="mt-4">
                <p style="font-weight: 500;display: flex;text-align: left;">Payment ID: {{ paymentId }}</p>
                <p style="font-weight: 500;display: flex;text-align: left;">Request ID: {{ paymentRequestId }}</p>
            </div>


            <div class="mt-3" class="mt-4" style="text-align: center;">

                <button [routerLink]="'/dashboard/profile'" class="btn btn-danger btn-lg">

                    Go to profile

                </button>

            </div>


        </div>


        <div *ngIf="!paymentSuccessful">

            <div>
                <img src="assets\images\new_images\warning.png" loading="lazy" alt="" class="image">
            </div>

            <div class="mt-3">
                <p>Sorry, we were unable to process your payment. Please try again later.</p>
            </div>


            <div class="mt-4" style="text-align: center;">

                <button [routerLink]="'/dashboard/package'" class="btn btn-danger btn-lg">

                    Try Again

                </button>

            </div>

        </div>

    </div>

</div>