<section class="vmedo-subscription-section-desktop bg-white py-12 px-8">
    <div class="container mx-auto flex flex-col md:flex-row items-center px-5">
      <div class="text-content md:order-1 md:w-3/7 md:pr-10">
        <h2 class="text-3xl font-bold mb-4">
          Ensure your Family’s Health and safety with VMEDO Membership
        </h2>
        <p class="text-lg mb-4">
          Experience peace of mind with a 24*7 Medical assistance team, unlimited doctor consultations, priority
          access and discounts on home care, diagnostic services and Ambulance service.

        </p>

        <button style="
            padding: 0.5rem 1rem;
            background-color: #dc2626;
            color: #fff;
            font-weight: 600;
            border-radius: 0.375rem;
            border: 1px solid transparent;
            transition: all 0.3s ease-in-out;
          "
          onmouseover="this.style.borderColor = '#dc2626'; this.style.backgroundColor = '#fff'; this.style.color = '#dc2626';"
          onmouseout="this.style.borderColor = 'transparent'; this.style.backgroundColor = '#dc2626'; this.style.color = '#fff';"
          [routerLink]="'/subscription'">
          Subscribe now
        </button>
      </div>


      <div class="image-container md:order-2 md:w-4/7 md:pl-10 relative">
        <img
          *ngIf="!videoReady"
          src="assets/images/website-images/subscription-animation-preview.jpg"
          alt="Subscription Preview"
          class="w-full h-auto object-cover"
          loading="lazy"
        />
      
        <video
          *ngIf="videoReady"
          autoplay
          muted
          loop
          playsinline
          class="w-full h-auto object-cover"
        >
          <source src="assets/images/website-images/subscription-animation.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
      
    </div>
  </section>