<div class="container-fluid hidden-content" style="height: calc(100% + -71px);">

  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12" id="navigation">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">
          <svg class="logo logo-md" style="height: 20px; width: 100px;">
            <use xlink:href="./assets/icon/svg/symbol-defs.svg#icon-v-logo"></use>
          </svg>
          <svg [routerLink]="'/home'" class="logo logo-sm" style="height: 30px; width: 100px;">
            <use xlink:href="./assets/icon/svg/symbol-defs.svg#icon-v-logo-white"></use>
          </svg>
        </a>
        <div *ngIf="common.auth_token !== undefined && common.auth_token !== null"
          class="profile-icon back pull-right btn btn-sm btn-outline-secondary" [routerLink]="'/dashboard/profile/1'"
          placement="bottom" ngbTooltip="Profile" style="margin-right: 40px;">
          <svg class="">
            <use xlink:href="./assets/icon/svg/symbol-defs.svg#icon-user-solid-circle"></use>
          </svg>
        </div>
        <div class="back pull-right btn btn-sm btn-outline-secondary" [routerLink]="'/dashboard/profile/2'"
          placement="bottom" ngbTooltip="Back">
          <svg class="">
            <use xlink:href="./assets/icon/svg/symbol-defs.svg#icon-v-back"></use>
          </svg>
        </div>
      </nav>
    </div>
  </div>

  <div class="row body">

    <div id="htmlData" #hi>

    </div>


    <div id="htmlData2" #hii>
      <div class="container" style="border: 17px solid #ffffff; padding: 0px;">

        <div class="container" style="border: 10px solid #bb1717;">

          <span style="font-size: 12px;">Card number - {{slNo}}</span>



          <div class="letterlogo">
            <img src="assets/img/vmedologo.png" loading="lazy" style="height: 1.5cm; margin-top: -1%;margin-left: 32%;"
              alt="" class="image">
          </div>

          <!-- If the user is a premium member -->

          <div *ngIf="isPaidMember">
            <div class="lettertext" style="margin-top: 1%;font-size:12.5px;padding: 0px 27px;">

              <p style="font-weight: 600;">Hello {{username}},</p>

              <p>Welcome to VMEDO! You are now covered under the VMEDO Emergency Subscription. Now you have ensured
                guaranteed Emergency assistance 24x7 across India.</p>

              <!-- Information Table -->


              <table class="blueTable">
                <tbody>
                  <tr>
                    <td>
                      <div style="font-weight: 600;">
                        Subscription Type
                      </div>

                      <div>
                        Premium
                      </div>
                    </td>

                    <td>
                      <div style="font-weight: 600;">
                        Subscription date
                      </div>

                      <div>
                        {{subscribedDate | date:'dd/MM/yyyy'}}
                      </div>
                    </td>

                    <td>
                      <div style="font-weight: 600;">
                        Subscribed By
                      </div>

                      <div>
                        {{txtName}}
                      </div>
                    </td>

                  </tr>

                  <tr>
                    <td>
                      <div style="font-weight: 600;">
                        Package name
                      </div>

                      <div>
                        {{package_Name}}
                      </div>
                    </td>

                    <td>
                      <div style="font-weight: 600;">
                        Valid till
                      </div>

                      <div>
                        {{pckage_validity | date:'dd/MM/yyyy'}}

                      </div>
                    </td>

                    <td>
                      <div style="font-weight: 600;">
                        Card number
                      </div>

                      <div>
                        {{slNo}}
                      </div>
                    </td>

                  </tr>


                </tbody>

              </table>


              <div class="mt-2">

                <span><strong>Steps to Follow: </strong></span>

                <div class="mt-1">
                  <span>1. Please cut the Suraksha card attached below and keep it in your wallet, purse, etc
                    for easy </span>

                  <div>
                    &nbsp;&nbsp; accessibility.
                  </div>
                </div>

                <div class="mt-1">
                  <span>2. In case of any Medical Emergency, you can call VMEDO Helpline - 9343180000 directly and
                    mention the</span>

                  <div>
                    &nbsp;&nbsp; Suraksha card number to get Emergency assistance and membership benefits.
                  </div>

                </div>

              </div>



              <!-- VMEDO OnBoarding Kit -->

              <div class="mt-2" style="margin-bottom: 10px;">
                <p><strong>Onboarding Kit: </strong></p>
              </div>



              <table class="OnboardTable">
                <tbody>
                  <tr>
                    <td>

                      <div>
                        For 24x7 Medical Assistance
                      </div>

                    </td>

                    <td>

                      <div>
                        Ambulance bookings, hospital


                      </div>

                      <div>
                        information, doctor consultation
                      </div>

                    </td>

                    <td>

                      <div>
                        Call VMEDO Helpline
                      </div>

                      <div>
                        +91-9343180000
                      </div>
                    </td>

                  </tr>
                  <tr>
                    <td>

                      <div>
                        Basic First aid training
                      </div>
                    </td>
                    <td>
                      <div>
                        Get trained in Basic First aid skills
                      </div>
                      <div>
                        get 50% discount on the course
                      </div>

                      <div style="font-weight: 600;">
                        (USE CODE: SUB50)
                      </div>
                    </td>

                    <td>

                      <div>
                        Follow the link below
                      </div>

                      <div>
                        <a href=" https://bit.ly/41NSzii " style="color: black;"> https://bit.ly/41NSzii </a>
                      </div>
                    </td>


                  </tr>
                  <tr>
                    <td>
                      <div>
                        Medical supply purchase
                      </div>
                    </td>
                    <td>
                      <div>
                        Get a 5% additional discount Flat



                      </div>

                      <div>
                        discount on your every purchase at
                      </div>

                      <div>
                        the VMEDO store
                      </div>

                      <div style="font-weight: 600;">
                        (USE CODE: SUBSCRIBE5)
                      </div>
                    </td>


                    <td>

                      <div>
                        Follow the link below
                      </div>

                      <div>
                        <a href=" https://store.vmedo.com/" style="color: black;"> https://store.vmedo.com/</a>
                      </div>
                    </td>

                  </tr>
                  <tr>
                    <td>
                      <div>
                        Free Doctor consultation
                      </div>
                    </td>
                    <td>
                      <div>
                        Unlimited online doctor
                      </div>

                      <div>
                        consultation
                      </div>
                    </td>
                    <td>

                      <div>
                        Call VMEDO Helpline
                      </div>

                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div>
                        Discounts on {{'care@home'}}, Ambulance and Health checkups
                      </div>
                    </td>
                    <td>
                      <div>
                        Get discounts on {{'care@home'}} at
                      </div>

                      <div>
                        vmedo partnered hospitals,
                      </div>

                      <div>
                        ambulances and health checkups
                      </div>
                    </td>
                    <td>
                      <div>
                        Call VMEDO Helpline
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>


              <div class="mt-2">
                <div>

                  Please check VMEDO Terms and condition for more details : https://vmedo.com/vmedo-terms.html
                </div>
                <div>
                  Hope you never have to use this subscription, but hey, if you have to, VMEDO will be there for you,
                  always!
                </div>

              </div>


              <div class="lettersignature">
                <img src="assets\images\new_images\welcome_signature.png" loading="lazy" style="    height: 1.2cm;
              width: 3.5cm;
              margin-top: 0cm;
              margin-left: -4%;" alt="" class="image">
              </div>

              <div class="letterregards mt-2 mb-1">

                <div style="font-size: 12px; margin-left: 1%;">
                  Praveen Gowdru
                </div>

                <div style="font-size: 12px; margin-left: 1%;">
                  CEO, VMEDO
                </div>

              </div>





            </div>
          </div>





          <!-- If the user is not a premium member -->

          <div *ngIf="!isPaidMember">

            <div class="lettertext" style="margin-top: 1%;font-size:12.5px;padding: 0px 27px;">

              <p style="font-weight: 600;">Hello {{username}},</p>

              <p>Welcome to VMEDO! You are now covered under the VMEDO Emergency Subscription. Now you have ensured
                guaranteed Emergency assistance 24x7 across India.</p>

              <!-- Information Table -->


              <table class="blueTable">
                <tbody>
                  <tr>
                    <td>
                      <div style="font-weight: 600;">
                        Subscription Type
                      </div>

                      <div>
                        Free Subscription
                      </div>
                    </td>

                    <td>
                      <div style="font-weight: 600;">
                        Subscription date
                      </div>

                      <div>
                        Not applicable
                      </div>
                    </td>

                    <td>
                      <div style="font-weight: 600;">
                        Subscribed By
                      </div>

                      <div>
                        {{txtName}}
                      </div>
                    </td>

                  </tr>

                  <tr>
                    <td>
                      <div style="font-weight: 600;">
                        Package name
                      </div>

                      <div>
                        {{ package_Name ? package_Name : 'Family' }}
                      </div>
                    </td>

                    <td>
                      <div style="font-weight: 600;">
                        Valid till
                      </div>

                      <div>
                        Lifetime
                      </div>
                    </td>

                    <td>
                      <div style="font-weight: 600;">
                        Card number
                      </div>

                      <div>
                        {{slNo}}
                      </div>
                    </td>

                  </tr>


                </tbody>

              </table>


              <div class="mt-2">

                <span><strong>Steps to Follow: </strong></span>

                <div class="mt-1">
                  <span>1. Please cut the Suraksha card attached below and keep it in your wallet, purse, etc
                    for easy </span>

                  <div>
                    &nbsp;&nbsp; accessibility.
                  </div>
                </div>

                <div class="mt-1">
                  <span>2. In case of any Medical Emergency, you can call VMEDO Helpline - 9343180000 directly and
                    mention the</span>

                  <div>
                    &nbsp;&nbsp; Suraksha card number to get Emergency assistance and membership benefits.
                  </div>

                </div>

              </div>



              <!-- VMEDO OnBoarding Kit -->

              <div class="mt-2" style="margin-bottom: 10px;">
                <p><strong>Onboarding Kit: </strong></p>
              </div>



              <table class="OnboardTable">
                <tbody>
                  <tr>
                    <td>

                      <div>
                        For 24x7 Medical Assistance
                      </div>

                    </td>

                    <td>

                      <div>
                        Ambulance bookings, hospital

                      </div>

                      <div>
                        information, doctor consultation
                      </div>

                    </td>

                    <td>

                      <div>
                        Call VMEDO Helpline
                      </div>

                      <div>
                        +91-9343180000
                      </div>
                    </td>

                  </tr>
                  <tr>
                    <td>

                      <div>
                        Basic First aid training
                      </div>
                    </td>
                    <td>
                      <div>
                        Get trained in Basic First aid skills
                      </div>
                      <div>
                        get 50% discount on the course
                      </div>

                      <div style="font-size: 11px;font-weight: 600;">
                        (USE CODE: SUB50)
                      </div>
                    </td>

                    <td>

                      <div>
                        Follow the link below
                      </div>

                      <div>
                        <a href="https://bit.ly/41NSzii" style="color: black;">https://bit.ly/41NSzii </a>
                      </div>
                    </td>


                  </tr>
                  <tr>
                    <td>
                      <div>
                        Medical supply purchase
                      </div>
                    </td>
                    <td>
                      <div>
                        Get 149 INR Flat discount on your
                      </div>
                      <div>
                        first purchase at the VMEDO store
                      </div>

                      <div style="font-size: 11px;font-weight: 600;">
                        (USE CODE: VMEDO149)
                      </div>
                    </td>


                    <td>

                      <div>
                        Follow the link below
                      </div>

                      <div>

                        <a href=" https://store.vmedo.com/" style="color: black;"> https://store.vmedo.com/</a>

                      </div>
                    </td>

                  </tr>
                  <tr>
                    <td>
                      <div>
                        Free Doctor consultation
                      </div>
                    </td>
                    <td>
                      <div>
                        Unlimited online doctor
                      </div>

                      <div>
                        consultation
                      </div>

                    </td>
                    <td>

                      <div>
                        Not applicable:
                      </div>
                      <div>
                        Upgrade to Premium
                      </div>
                      <div>
                        <a href="https://vmedo.com" style="color: black;">(https://vmedo.com)</a>

                      </div>

                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div>
                        Discounts on {{'care@home'}}, Ambulance and Health checkups
                      </div>
                    </td>
                    <td>
                      <div>
                        Get discounts on {{'care@home'}} at
                      </div>

                      <div>vmedo partnered hospitals, ambulances and health checkups </div>

                      <div></div>
                    </td>
                    <td>
                      <div>
                        Not applicable:
                      </div>
                      <div>
                        Upgrade to Premium
                      </div>
                      <div>
                        <a href="https://vmedo.com" style="color: black;">(https://vmedo.com)</a>

                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>


              <div class="mt-2">
                <div>

                  Please check VMEDO Terms and condition for more details : https://vmedo.com/vmedo-terms.html
                </div>
                <div>
                  Hope you never have to use this subscription, but hey, if you have to, VMEDO will be there for you,
                  always!
                </div>



              </div>


              <div class="lettersignature">
                <img src="assets\images\new_images\welcome_signature.png" loading="lazy" style="    height: 1.2cm;
              width: 3.5cm;
              margin-top: 0cm;
              margin-left: -4%;" alt="" class="image">
              </div>

              <div class="letterregards mt-2 mb-1">

                <div style="font-size: 12px; margin-left: 1%;">
                  Praveen Gowdru
                </div>

                <div style="font-size: 12px; margin-left: 1%;">
                  CEO, VMEDO
                </div>

              </div>





            </div>

          </div>

          <!-- *ngIf="isEmployee" -->
          <div>
            <!-- cover letter goes here -->
          </div>

        </div>


        <div class="wf-section">
          <img src="assets/img/line2.png" style="height: 22px;width: 100%;margin-top: 0.1in;" loading="lazy" alt="">
        </div>

        <div class="container" >
          <div class="row">

            <div class="row">

              <div class="col col-6 section-2 wf-section" style="padding-right: 0px;">
  
                  <div class="card qrCard2" style="height: 55mm; width: 85mm;">
      
                    <div class="container">
      
                      <div class="row Top-Heading" style="background-color: #ce2424; height: 8mm;">
      
                        <div class="col-5" style="background-color: #eadd24; height: 7.5mm;">
      
                          <img src="assets/images/emid_images/vmedologoemid.png" style="width: 90%;" />
      
                          <div style="position: absolute; top: 0; right: 0px; width: 0; height: 8mm; border-top: 7.5mm solid transparent; border-right: 7.5mm solid #ce2424;"></div>
      
                        </div>
      
                        <div class="col-7" style="display: flex; align-items: center; justify-content: center; color: white;">
      
                          <div style="font-size: 12px; text-align: center;margin-top: -10px;">
                            SURAKSHA CARD
                          </div>
      
                        </div>
                      </div>
      
                      <div class="row Main-content" style="height: 30mm;">
      
                        <div class="col-7 member-details" style="font-size: 11px; padding-left: 31px; padding-top: 17px;">
      
                          
                         
                          <div class="row member-name" style="font-weight: 600; color: #a11e1e; margin-bottom: 2px;">
      
                            Name -  {{ username }}
      
                          </div>
      
                          <div class="row Card-No" style="font-weight: 600; color: #a11e1e;margin-bottom: 2px;">
      
                            Card No - {{ emid }}
      
                          </div>

                          <div class="row Card-No" style=" font-weight: 600; color: #a11e1e;"> 
      
                            <!-- validity - {{ txtpackagevalid_till | date: 'dd/MM/yyyy' }}  -->
                            Validity - {{txtisPaidMember ? (txtpackagevalid_till | date:'dd/MM/yyyy') : 'Lifetime'}}                     
                          </div>
      
                          <!-- <div *ngIf="!txtisPaidMember" class="row Card-Type" style="height: 5mm; font-weight: 600; color: #a11e1e;">
      
                            Card Type - Free
      
                          </div>
                          <div *ngIf="txtisPaidMember" class="row Card-Type" style="height: 5mm; font-weight: 600; color: #a11e1e;">
      
                            Card Type - Premium
      
                          </div> -->
      
                          <div class="row Card-Type" style="height: 5mm; font-weight: 600; color: #a11e1e;">
      
                            <!-- Company - {{ orgName }} -->
      
                          </div>
                         
      
                        </div>
      
                        <div class="col-5 QR-Code" >
      
                          <div class="row" *ngIf="txtisPaidMember" style=" padding-left: 12px; padding-top: 4px; display: flex; align-items: center; flex-direction: row; flex-wrap: nowrap;">
      
                            <img src="assets/images/emid_images/premium-icon-card.png" style="width: 18%; padding: 0px;" />
                          
                            <span style="font-size: 12px; padding-left: 8px;">Premium</span>
                          
                          </div>
                          
                          <div class="qrcodeImage mt-2">
                            <qrcode
                              [qrdata]='userDataUrl'
                              [allowEmptyString]="true"
                              [colorDark]="'#000000'"
                              [colorLight]="'#eadd24'"
                              [elementType]="'canvas'"
                              [errorCorrectionLevel]="'M'"
                              [scale]="1"
                              [margin]="1"
                              [width]="110"
                            ></qrcode>
                          </div>
      
                          <!-- <div class="row" style="display: flex; align-items: center; justify-content: center;">
                            <qr-code [value]="qrCodeVal" [backgroundAlpha]="0" size="90">
                            </qr-code>
                          </div> -->
      
                        </div>
      
      
                      </div>
      
                      <div class="row Description" style="height: 11mm;margin-bottom: 2px;">
      
                        <div class="col-9" style="font-size: 11px; padding-top: 4px;padding-right: 6px;">
                          In case of emergency, Scan the QR Code and get the emergency details of the user
                        </div>
      
                      </div>
      
                      <div class="row Bottom-Heading" style="height: 5.5mm;background-color: #ce2424;">
      
                        <div class="col-8" style="display: flex; align-items: center; color: white;padding-right: 0px;">
      
                          <div style="font-size: 10px; text-align: left;margin-top: -10px;">
                            24x7 Medical Emergency Assistance
                          </div>
      
      
      
                        </div>
      
      
      
                        <div class="col-4" style="display: flex; align-items: center; justify-content: flex-start; color: white;padding: 0px;">
      
                          <div  style="font-size: 10px;display: flex; align-items: center;">
      
                            <img src="assets/images/emid_images/Mobile-Icon.png" style="margin-right: 2px; width:12%" />
      
                            <span style="margin-top: -10px;">9343-18-0000</span>
                          </div>
      
                        </div>
      
                      </div>
      
      
                    </div>
      
      
                  </div>
      
      
                </div>
  
  
  
                <div class="col col-6 section-2 wf-section" style="padding-left: 0px; margin-left: -22px;">
  
                  <div class="card qrCard2 qrCard2-back" #screen style="height: 55mm; width: 85mm;">
      
                    <div class="container">
      
                      <div class="row Top-Heading"
                        style="background-color: #ce2424; height: 8mm; display: flex; align-items: center; justify-content: center; color: white;">
      
                        <div>
      
                          <div style="font-size: 11px; text-align: center;margin-top: -10px;">
                            CARD BENEFITS*
                          </div>
      
                        </div>
      
                      </div>
      
                      <div class="row  Main-content" style="height: 41mm;">
      
                        <div class="container">
      
                          <div class="row premium-heading" style="height: 6.2mm;  display: flex;  align-items: center; justify-content: center;">
      
                            <div style="font-size: 11px; text-align: center;" >
      
                              (Only For Premium Card Member)
      
                            </div>
      
        
                          </div>
      
                          <div class="container" style="text-align: left;">
      
                            <div class="row premium-heading" style="height: 5.6mm; display: flex; align-items: left; justify-content: left;">
      
                              <div style="font-size: 11px;  text-align: left;">
        
                                &#10003; 24x7 emergency assistance
        
                              </div>
        
          
                            </div>
        
        
                            <div class="row premium-heading" style="height: 5.6mm; display: flex; align-items: left; justify-content: left;">
        
                              <div style="font-size: 11px; text-align: left;">
        
                                &#10003; Unlimited & free doctor consultation
        
                              </div>
        
          
                            </div>
        
                            <div class="row premium-heading" style="height: 5.6mm;  display: flex; align-items: left; justify-content: left;">
        
                              <div style="font-size: 11px; text-align: left;">
        
                                &#10003; Free emergency ambulance
        
                              </div>
        
          
                            </div>
        
                            <div class="row premium-heading" style="height: 5.6mm; display: flex; align-items: left; justify-content: left;">
        
                              <div style="font-size: 11px; text-align: left;">
        
                                &#10003; Discount on non emergency ambulance
        
                              </div>
        
          
                            </div>
        
                            <div class="row premium-heading" style="height: 5.6mm; display: flex; align-items: left; justify-content: left;">
        
                              <div style="font-size: 11px; text-align: left;">
        
                                &#10003; Discount on {{ 'care@home' }}
        
                              </div>
        
          
                            </div>
        
                            <div class="row premium-heading" style="height: 5.6mm; display: flex; align-items: left; justify-content: left;">
        
                              <div style="font-size: 11px; text-align: left;">
        
                                &#10003; Discount on lab tests and medical supplies
        
                              </div>
        
          
                            </div>
      
                          </div>
      
                  
      
      
                        </div>
      
                     
      
      
            
      
      
                      </div>
      
                      <div class="row Bottom-Heading" style="height: 5.5mm;background-color: #ce2424; display: flex; align-items: center;margin: auto;">
      
                        <div class="col-4" style="display: flex; align-items: center; justify-content: center; color: white;margin: auto;">
      
                          <div style="display: flex; align-items: center; justify-content: center; font-size: 12px; text-align: center;">
      
                            <img src="assets/images/emid_images/Globe-Icon.png" style="margin-right: 2px;width:12px;height:12px;"/>
      
                            <span style="margin-top: -10px;">vmedo.com</span>
                          </div>
      
      
      
                        </div>
      
      
      
                        <div class="col-5" style="display: flex; align-items: center; justify-content: center; color: white;margin: auto;">
      
                          <div style="display: flex; align-items: center; font-size: 11px; text-align: left;">
      
                            <img src="assets/images/emid_images/Mobile-Icon.png" style="margin-right: 3px; width:12px;height:12px;" />
                            <span style="margin-top: -10px;">9343-18-0000</span>
                          </div>
      
                        </div>
      
                        <div class="col-3" style="display: flex; align-items: center; justify-content: center; color: white;margin: auto;">
      
                          <div style="font-size: 8.5px; text-align: left;margin-top: -10px;">
                            T&C apply
                          </div>
      
                        </div>
      
      
      
                      </div>
      
                      
                      
                      
                    </div>
      
      
                  </div>
      
                </div>
            </div>
          </div>
        </div>




      </div>

    </div>


  </div>

  <!-- mobile version download button -->
  <div class="col-md-4 ">
    <div class="text-right mt-4 mb-4">
      <button class="btn bt-small btn-danger btn-block" (click)="openCombinedPDF()">Downloading health card please
        wait..</button>
    </div>
  </div>

  <div class="row widget-menu">
    <div class="col-4 col-md-4 col-sm-4 col-lg-4">
      <svg [routerLink]="'dashboard/profile/1'">
        <use xlink:href="./assets/icon/svg/symbol-defs.svg#icon-v-user-1"></use>
      </svg>
      <div>
        {{ common.auth_token ? 'Profile' : 'Login' }}
      </div>

      <!-- Profile -->
    </div>
    <div class="col-4 col-md-4 col-sm-4 col-lg-4">
      <svg [routerLink]="'/home'">
        <use xlink:href="./assets/icon/svg/symbol-defs.svg#icon-v-home"></use>
      </svg>
      Home
    </div>
    <div class="col-4 col-md-4 col-sm-4 col-lg-4">
      <svg [routerLink]="'/services/more'">
        <use xlink:href="./assets/icon/svg/symbol-defs.svg#icon-navigation-more"></use>
      </svg>
      More
    </div>
  </div>

  <div class="row footer">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <div class="row">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6">&copy; Copyrights Arera Healthcare and Technologies Pvt
          Ltd 2022. All rights reserved.</div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6">.&nbsp;<span>.</span></div>
      </div>
    </div>
  </div>


</div>