<section class="care-at-home-section py-10 px-8">
    <h2 class="text-3xl font-medium mb-8 pl-8">Care at home</h2>

    <div class="px-4">
      <swiper class="px-6" [config]="care_at_home_dektop">

        <ng-template swiperSlide>
          <div class="bg-gray-200 care-at-home-card rounded-md mx-auto overflow-hidden"
            [routerLink]="'/services/urgent-medical-care-at-home'">
            <img src="assets/images/website-images/care_at_home_5.png" alt="Image Description"
              class="w-full h-full rounded-md object-cover image-hover" />
          </div>
          <p class="mt-2 text-center text-base font-medium px-3">
            Treat Minor injuries and illnesses at home
          </p>
        </ng-template>

        <ng-template swiperSlide>
          <div class="bg-gray-200 care-at-home-card rounded-md mx-auto overflow-hidden"
            [routerLink]="'/services/urgent-medical-care-at-home'">
            <img src="assets/images/website-images/diagnostics_at_home_6.png" alt="Image Description"
              class="w-full h-full rounded-md object-cover image-hover" />
          </div>
          <p class="mt-2 text-center text-base font-medium px-3">
            Injection/IV fluids at home
          </p>
        </ng-template>

        <ng-template swiperSlide>
          <div class="bg-gray-200 care-at-home-card rounded-md mx-auto overflow-hidden"
            [routerLink]="'/services/urgent-medical-care-at-home'">
            <img src="assets/images/website-images/care_at_home_9.jpg" alt="Image Description"
              class="w-full h-full rounded-md object-cover image-hover" />
          </div>
          <p class="mt-2 text-center text-base font-medium px-3">
            Wound Dressing at home
          </p>
        </ng-template>

        <ng-template swiperSlide>
          <div class="bg-gray-200 care-at-home-card rounded-md mx-auto overflow-hidden"
            [routerLink]="'/services/urgent-medical-care-at-home'">
            <img src="assets/images/website-images/care_at_home_3.png" alt="Image Description"
              class="w-full h-full rounded-md object-cover image-hover" />
          </div>
          <p class="mt-2 text-center text-base font-medium px-3">
            Vaccination at home
          </p>
        </ng-template>

        <ng-template swiperSlide>
          <div class="bg-gray-200 care-at-home-card rounded-md mx-auto overflow-hidden"
            [routerLink]="'/services/urgent-medical-care-at-home'">
            <img src="assets/images/website-images/care_at_home_8.jpg" alt="Image Description"
              class="w-full h-full rounded-md object-cover image-hover" />
          </div>
          <p class="mt-2 text-center text-base font-medium px-3">
            Catheterization at home
          </p>
        </ng-template>

        <ng-template swiperSlide>
          <div class="bg-gray-200 care-at-home-card rounded-md mx-auto overflow-hidden"
            [routerLink]="'/services/urgent-medical-care-at-home'">
            <img src="assets/images/website-images/care_at_home_10.jpg" alt="Image Description"
              class="w-full h-full rounded-md object-cover image-hover" />
          </div>
          <p class="mt-2 text-center text-base font-medium px-3">
            Ryles tube insertion at home
          </p>
        </ng-template>

        <ng-template swiperSlide>
          <div class="bg-gray-200 care-at-home-card rounded-md mx-auto overflow-hidden"
            [routerLink]="'/services/urgent-medical-care-at-home'">
            <img src="assets/images/website-images/care_at_home_11.jpg" alt="Image Description"
              class="w-full h-full rounded-md object-cover image-hover" />
          </div>
          <p class="mt-2 text-center text-base font-medium px-3">
            Suture removal at home
          </p>
        </ng-template>
      </swiper>
    </div>
  </section>