<div class="container-fluid"
  style="height: calc(100% + 5px);overflow: auto; overflow-x: hidden; background-color: #ffffff;">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-lg-12" id="navigation">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand">
          <svg class="logo logo-md">
            <use xlink:href="./assets/icon/svg/symbol-defs.svg#icon-v-logo"></use>
          </svg>
          <svg [routerLink]="'/home'" class="logo logo-sm">
            <use xlink:href="./assets/icon/svg/symbol-defs.svg#icon-v-logo-white"></use>
          </svg>
        </a>
        <div *ngIf="common.auth_token !== undefined && common.auth_token !== null"
          class="back pull-right btn btn-sm btn-outline-secondary profile-icon" [routerLink]="'/dashboard/profile/1'"
          placement="bottom" ngbTooltip="Profile" style="margin-right: 40px;">
          <svg class="">
            <use xlink:href="./assets/icon/svg/symbol-defs.svg#icon-user-solid-circle"></use>
          </svg>
        </div>
        <div class="back pull-right btn btn-sm btn-outline-secondary" [routerLink]="'/home'" placement="bottom"
          ngbTooltip="Back">
          <svg class="">
            <use xlink:href="./assets/icon/svg/symbol-defs.svg#icon-v-back"></use>
          </svg>
        </div>
      </nav>
    </div>
  </div>

  <div class="container">

    <section class="emid1">
      <div class="row" style="padding: 16px 0px;">

        <div class="col-sm-12">
          <div class="">
            <div class="">

              <div>
                <h3 class="mt-3" id="skillpeople" style="font-weight: bold;">
                  <span style="font-size: 20pt;">Stop Running from one hospital to
                    another during an Emergency!
                  </span>
                  <br>

                </h3>

                <div class="mt-4">


                  <span class="" style=" color: rgb(0, 0, 0); font-size: 13pt;">

                    <ul>
                      <li>
                        Find nearby hospitals ready to accept Emergencies right now
                      </li>
                      <li class="mt-2">
                        Choose the hospital based on the Emergency type and your priorities
                      </li>
                      <li class="mt-2">
                        Send an admission request and get instant confirmation from the hospital
                      </li>
                      <li class="mt-2">
                        Get a Free ambulance pick-up from the hospital
                      </li>
                    </ul>

                  </span>

                </div>


              </div>




              <div>

              </div>
            </div>
            <!-- eof .slide_description -->
          </div>
          <!-- eof .slide_description_wrapper -->
        </div>

      </div>
    </section>

  </div>

  <div class="row body hospitals">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
      <div class="hospital-search">

        <div class="row panel srh">
          <div class="col-12 col-sm-6 col-md-6 col-xl-6 cursor_default">
            <div class="row padding-top-0">
              <div class="col-12 col-sm-12 col-md-12 col-xl-12 search card" [ngClass]="{'zi-10k': app.statusLoader}">
                <div class="text-control cmbbox">
                  <svg>
                    <use xlink:href="./assets/icon/svg/symbol-defs.svg#icon-v-location"></use>
                  </svg>
                  <input type="text" placeholder="Emergency Location" [(ngModel)]="txtSearch"
                    (focusout)="OnSearchFocusOut($event)" (selectItem)="OnSelectLocation($event)"
                    (keydown)="OnKeyDownSearchLocation(txtSearch)" [ngbTypeahead]="search"
                    (focus)="focus$.next($any($event).target.value)" (click)="click$.next($any($event).target.value)"
                    #instance="ngbTypeahead">
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-xl-12 search combobox card">
                <div class="text-control cmbbox ddlist" ngbDropdown>
                  <svg>
                    <use xlink:href="./assets/icon/svg/symbol-defs.svg#icon-v-doctor"></use>
                  </svg>
                  <input type="text" placeholder="What is the Emergency" id="dropdownEmergencyHandle"
                    [(ngModel)]="txtEmergencyHandled" ngbDropdownToggle readonly>
                  <div ngbDropdownMenu aria-labelledby="dropdownEmergencyHandle">
                    <div ngbDropdownItem (click)="OnSelectEmergencyHandle(undefined)">Select</div>
                    <div ngbDropdownItem *ngFor="let handle of emergencyHandles"
                      (click)="OnSelectEmergencyHandle(handle)">{{handle.sval}}</div>
                  </div>
                  <svg class="dropdown">
                    <use xlink:href="./assets/icon/svg/symbol-defs.svg#icon-cheveron-down"></use>
                  </svg>
                  <svg style="display: none;">
                    <use xlink:href="./assets/icon/svg/symbol-defs.svg#icon-warning"></use>
                  </svg>
                </div>
              </div>
              <div class="col-12 col-sm-12 col-md-12 col-xl-12 srch"
                style="padding: 10px !important; justify-content: center !important;align-items: center; display: flex;">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                  (click)="OnSearchHospitalByLocation(txtSearch, txtEmergencyHandled)">
                  <svg>
                    <use xlink:href="./assets/icon/svg/symbol-defs.svg#icon-search"></use>
                    <title>Search</title>
                  </svg>
                  <span>Search hospitals</span>
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>




      <div class="row panel" *ngIf="filteredEntities.length > 0">
        <div class="col-12 col-sm-12 col-md-12 col-xl-12" style="text-align: center;">
          <span class="hospital-search-header1" style="color: #000; font-size: 17px;">Hospitals Near by to
            Handle<br><span class="color: #FF1F49">{{txtEmergencyHandled}}</span></span>
        </div>
      </div>

      <div class="row panel">
        <ng-container *ngIf="!isLoading; else elseTemplate">
          <div class="col-12 col-sm-6 col-md-6 col-xl-6 no-padding" *ngIf="filteredEntities.length > 0">
            <div class="col-12 col-sm-12 col-md-12 col-xl-12 card details m-bottom-5 cursor-default"
              style="padding: 10px;" *ngFor="let entity of filteredEntities">
              <div class="row cursor-default align-v-top" (click)="OnClickDetails(entity.hospitalID)">
                <div class="col-3 col-sm-3 col-md-4 col-xl-4 no-padding">
                  <img *ngIf="common.IsFile(entity.hImage)" src="{{entity.hImage}}" title="{{entity.hospitalName}}"
                    style="height: 120px; width: 100%;" />
                  <img *ngIf="!common.IsFile(entity.hImage)" src="./assets/img/no-image.jpg"
                    style="height: 120px; width: 100%;" />

                </div>
                <div class="col-9 col-sm-9 col-md-8 col-xl-8" style="padding-right: 0;">
                  <div class="name" (click)="OnClickDetails(entity.hospitalID)">{{entity.hospitalName}}</div>
                  <div class="rating">
                    <label>
                      {{entity.hrating}}
                      <svg>
                        <use xlink:href="./assets/icon/svg/symbol-defs.svg#icon-v-star"></use>
                      </svg>
                    </label>
                    <label>Avg rating</label>
                  </div>
                  <div>
                    <svg>
                      <use xlink:href="./assets/icon/svg/symbol-defs.svg#icon-v-location"></use>
                    </svg>
                    <span>{{entity.hAddress}}</span>
                  </div>
                  <!-- <div class="time">Open Now 8am - 10pm</div> -->
                  <div class="emergency" *ngIf="entity.emergencyDContact">{{entity.emergencyDContact}}</div>
                  <div *ngIf="entity.generalDContact">{{entity.generalDContact}}</div>
                  <!-- <div style="font-size: 12px;">Emergency Handled : {{entity.emergencyhandel === true ? 'Yes' : 'No'}}</div> -->
                  <div style="font-size: 12px;">
                    <svg>
                      <use xlink:href="./assets/icon/svg/symbol-defs.svg#icon-v-check"></use>
                    </svg>
                    <span style="display: flex;">{{entity.emergencyhandel === true ? 'Currently Accepting Emergencies' :
                      'Currently Not Accepting Emergencies'}}</span>

                  </div>
                  <div>
                    <svg>
                      <use xlink:href="./assets/icon/svg/symbol-defs.svg#icon-v-icu-bed"></use>
                    </svg>
                    <span *ngIf="entity.icuBedCount">{{entity.icuBedCount}} ICU Beds Available</span>
                    <span *ngIf="!entity.icuBedCount">0 ICU Beds Available</span>
                  </div>

                </div>
              </div>
            </div>
          </div>


        </ng-container>

        <ng-template #elseTemplate>
          <div class="col-12 col-sm-6 col-md-6 col-xl-6 card details" style="padding: 10px;">
            <div class="row">
              <div class="col-4 col-sm-4 col-md-4 col-xl-4 no-flex no-padding">
                <ngx-skeleton-loader [theme]="{ height: '100px', 'margin-bottom': '-5px'}"></ngx-skeleton-loader>
              </div>
              <div class="col-8 col-sm-8 col-md-8 col-xl-8 no-flex no-r-padding">
                <ngx-skeleton-loader appearance="line" animation="progress" [theme]="{ 'margin-bottom': '0'}">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader appearance="line" animation="progress" [theme]="{ 'margin-bottom': '0'}">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader appearance="line" animation="progress"
                  [theme]="{ height: '50px','margin-bottom': '-5px'}"></ngx-skeleton-loader>
              </div>
            </div>
          </div>
        </ng-template>


        <section>
          <mat-card class="hospital-information"
            style="box-shadow: 1px 2px 6px rgba(0,0,0,0.24), 0px 1px 6px rgba(0,0,0,0.12);">
            <div class="row">
             
              <div class="col-lg-12 col-md-12 col-sm-12 mt-2">

             


                <h4 class="hospital-information-header3 col-lg-12 col-md-12 col-sm-12"
                  style="font-weight: 600;color: #971519;font-size: 1.25rem;">
                  Hospitals Empaneled on VMEDO
                </h4>

                <div class="mt-4">

                  <li class="po">Are ready To serve you &#x2713;

                  </li>
                  <li class="po"> Handle your emergency efficiently &#x2713;
                  </li>
                  <li class="po">Have the right infrastructure &#x2713;
                  </li>
                  <li class="po"> Have skilled medical staff &#x2713;
                  </li>

                </div>


              </div>



              <div class="col-lg-12 col-md-12 colsm-12 col-xs-12 mt-4">
                <h4 class="hospital-information-header3" style="font-weight: 600;color: #971519;font-size: 1.25rem;">How
                  Does The Platform Work?</h4>
              </div>

              <div class="hospital-register-steps col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">

                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <img src="assets\new-images\images\images\hospitals\search-location.png" alt=""
                      class="hospital-register-steps-img1">
                    <h4 class="hospital-register-steps-step">Enter your location and the emergency to find the nearest
                      hospital</h4>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <img src="assets\new-images\images\images\hospitals\checklist.png" alt=""
                      class="hospital-register-steps-img1">
                    <h4 class="hospital-register-steps-step">Get the list of VMEDO-verified hospitals that are currently
                      active to handle your emergency</h4>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <img src="assets\images\new_images\choose-hospital.png" alt="" class="hospital-register-steps-img1">
                    <h4 class="hospital-register-steps-step">Choose a hospital based on various parameters like
                      Emergency bed availability, customer ratings, etc.</h4>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <img src="assets\images\new_images\additional-support.png" alt=""
                      class="hospital-register-steps-img1">
                    <h4 class="hospital-register-steps-step">Contact the hospital's emergency department directly for
                      admission.</h4>
                  </div>

                </div>

              </div>
            </div>
          </mat-card>
        </section>

        <section>
          <mat-card class="hospital-register"
            style="box-shadow: 1px 2px 6px rgba(0,0,0,0.24), 0px 1px 6px rgba(0,0,0,0.12);">
            <div class="col-lg-12 col-md-12 colsm-12 col-xs-12">
              <h4 class="hospital-register-header mt-2" style="font-weight: 600;color: #971519;font-size: 1.25rem;">
                Register Your Hospital on VMEDO

              </h4>
            </div>


            <div class="hospital-register-steps col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="row">

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <img src="assets\images\new_images\hospital-login-image.png" alt=""
                    class="hospital-register-steps-img">
                  <h4 class="hospital-register-steps-step">


                    Login and fill all the required details

                  </h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <img src="assets\images\new_images\hospital-verified.png" alt="" class="hospital-register-steps-img">
                  <h4 class="hospital-register-steps-step">Get verified from Vmedo</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <img src="assets\images\new_images\emergency-request.png" alt="" class="hospital-register-steps-img">
                  <h4 class="hospital-register-steps-step">Get Emergency admission requests from customers</h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                  <img src="assets\images\new_images\hospital-dashboard.png" alt="" class="hospital-register-steps-img">
                  <h4 class="hospital-register-steps-step">Manage emergency using Vmedo dashboard</h4>
                </div>

              </div>

            </div>
            <div class="col-lg-12 col-md-12 colsm-12 col-xs-12">

              <div class="buttons col-lg-12 col-md-12 colsm-12 col-xs-12">
                <button type="button" class="btn btn-sm btn-danger mt-5 register-button" *ngIf="!isLoading"
                  (click)="OnClickRegisterHospital()">Register Your Hospital</button>
              </div>
            </div>
          </mat-card>
        </section>

      </div>


    </div>


  </div>


  <div class="main-footer" style="font-weight: 200;">

    <div class="container mom8">

      <div class="row">


        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mb-3">

          <div class="mcare-foot-about footer-box">
            <h4>

              About VMEDO

            </h4>
            <p class="about-vmedo">
              VMEDO is a digital healthcare platform, on a mission to make quality healthcare accessible and affordable to all..
              <br>
              <a [routerLink]="'/info/aboutus'" class="know" style="color: #fff;">View More. . .</a>

            </p>
          </div>

        </div>


        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

          <div class="mcare-foot-about footer-box">
            <h4>

              Quick Links

            </h4>

            <ul class="lst">

              <li><a href="https://academy.vmedo.com"><i class="fa fa-chevron-right"></i>VMEDO
                  Academy</a></li>
              <li><a href="https://store.vmedo.com/categories/home-care-primary-care-medical-products/subcategories"><i
                    class="fa fa-chevron-right"></i>VMEDO Store</a>
              </li>

              <li><a [routerLink]="'/services/ambulance-service-india'"><i class="fa fa-chevron-right"></i>VMEDO Ambulance</a></li>
              <li><a [routerLink]="'/info/occupational-health-services'"><i class="fa fa-chevron-right"></i>For
                  Corporates</a></li>

              <li><a href="first-aid-training/index.html"><i class="fa fa-chevron-right"></i>First Aid Training</a></li>

              <li><a href="https://hospital.vmedo.com"><i class="fa fa-chevron-right"></i>Hospital login</a></li>

              <li><a [routerLink]="'/services/find-blood-donor'"><i class="fa fa-chevron-right"></i>Find blood donors</a></li>
            </ul>
          </div>

        </div>



        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

          <div class="mcare-foot-address footer-box">
            <h4>More</h4>
            <ul class="lst">
              <li><a href="https://www.vmedo.com/blog/"><i class="fa fa-chevron-right"></i> Blog</a></li>

              <li><a [routerLink]="'/info/aboutus'"><i class="fa fa-chevron-right"></i> About Us</a>
              </li>
              <li><a href="https://vmedo.com/blog/join-our-team-vmedo/"><i class="fa fa-chevron-right"></i> Career</a>
              </li>

                <li><a [routerLink]="'/info/partner-with-us'"><i class="fa fa-chevron-right"></i> Partner
                  With Us</a></li>
              <li><a [routerLink]="'/info/contact-us'"><i class="fa fa-chevron-right"></i> Contact
                  Us</a></li>




            </ul>


          </div>

        </div>



        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">

          <div class="mcare-foot-tweets footer-box">

            <h4>

              Subscribe

            </h4>


            <div class="follow-us">
              <a href="" class="follow-us-text">Follow Us On</a>
            </div>
            <ul class="foot-social">
              <li><a href="https://www.facebook.com/vmedohealthcare"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/vmedoapp"><i class="fa fa-twitter"></i></a>
              </li>

              <li><a href="https://www.linkedin.com/company/vmedo"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              </li>
              <li><a href="https://www.instagram.com/vmedo_healthcare/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </li>
              <li><a href="https://www.youtube.com/c/Bloodforsureapp/featured"><i class="fa fa-youtube"></i></a></li>
            </ul>

          </div>
        </div>


      </div>
      <h5 style="text-align: center; font-weight:500;color:white;margin-top: 15px;">
        "we work to save lives"</h5>
    </div>
  </div>
  <div class="sub-footer mb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
          <p class="text-content copy-content">
            © Copyrights <span class="copyrights" href="index.html" style="color: #dc1f26;">Arera
              Healthcare and Technologies Pvt Ltd</span> 2021. All rights reserved.
          </p>
          <div class="terms-conditions">
            <a href="vmedo-terms.html">Terms and Condition</a> | <a href="vmedo-privacy.html">
              Privacy </a> | <a href="https://vmedo.com/sitemap.xml"> Sitemap </a>
          </div>
        </div>

      </div>
    </div>
  </div>



  <div class="row widget-menu">
    <div class="col-4 col-md-4 col-sm-4 col-lg-4" >
     
      <div *ngIf="!common.auth_token">
        <svg (click)="app.OnOpenLoginForm('/dashboard/profile')"  >
          <use xlink:href="./assets/icon/svg/symbol-defs.svg#icon-key1"></use>
        </svg>
      </div>
     
      <div *ngIf="common.auth_token">
        <svg [routerLink]="getDashboardLink()">
          <use xlink:href="./assets/icon/svg/symbol-defs.svg#icon-v-user-1"></use>
        </svg>
      </div>
      
  
      <!-- Profile -->
  
      <div>
        {{ common.auth_token ? 'Profile' : 'Login' }}
      </div>
  
    </div>
    <div class="col-4 col-md-4 col-sm-4 col-lg-4"
    >
  <svg [routerLink]="'/home'">
   <use xlink:href="./assets/icon/svg/symbol-defs.svg#icon-v-home"></use>
  </svg>
  Home
  </div>
    <div class="col-4 col-md-4 col-sm-4 col-lg-4">
      <svg [routerLink]="'/services/more'">
        <use xlink:href="./assets/icon/svg/symbol-defs.svg#icon-navigation-more"></use>
      </svg>
      More
    </div>
  </div>

</div>








<ng-template #enquiryModal let-modal>
  <div class="modal-body">
    <div class="row logo">
      <span>VMEDO</span>
    </div>
    <div class="row title">
      <div class="col-12 col-sm-12 col-md-12 col-xl-12">
        <div>
          <svg>
            <use xlink:href="./assets/icon/svg/symbol-defs.svg#icon-phone"></use>
            <title>Enquiry</title>
          </svg>
        </div>
        Enquiry
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-xl-12">
        <input type="text" placeholder="Patient name" [(ngModel)]="txtPatientName"
          (ngModelChange)="OnTextChanged('txtPatientName', $event)">
        <span class="error-line" placement="bottom" ngbTooltip="{{lblPatientName}}">{{lblPatientName}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-xl-12">
        <input type="text" placeholder="Patient age" [(ngModel)]="txtPatientAge"
          (ngModelChange)="OnTextChanged('txtPatientAge', $event)" (keypress)="common.AllowOnlyNumbers($event)">
        <span class="error-line" placement="bottom" ngbTooltip="{{lblPatientAge}}">{{lblPatientAge}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-xl-12">
        <textarea rows="5" cols="5" placeholder="Reason for enquiry" [(ngModel)]="txtEnquiryReason"
          (ngModelChange)="OnTextChanged('txtEnquiryReason', $event)"></textarea>
        <span class="error-line" style="top: 147px;" placement="top"
          ngbTooltip="{{lblEnquiryReason}}">{{lblEnquiryReason}}</span>
      </div>
    </div>
    <div class="row controls">
      <div class="col-12 col-sm-12 col-md-12 col-xl-12">
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="OnClickEnquiry();">Submit</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #infoModal let-modal>
  <div class="modal-body">
    <div class="row logo">
      <span>VMEDO</span>
    </div>
    <div class="row title">
      <div class="col-12 col-sm-12 col-md-12 col-xl-12">
        <div>
          <svg>
            <use xlink:href="./assets/icon/svg/symbol-defs.svg#icon-office"></use>
            <title>Hospital Details</title>
          </svg>
        </div>
        Hospital Details
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-sm-6 col-md-6 col-xl-6 align-h-right" style="font-size: 15px;">Name :</div>
      <div class="col-6 col-sm-6 col-md-6 col-xl-6 align-h-left" style="font-size: 13px;"
        *ngIf="hospitalInfo && hospitalInfo.hospitalName">{{hospitalInfo.hospitalName}}</div>
    </div>
    <div class="row">
      <div class="col-6 col-sm-6 col-md-6 col-xl-6 align-h-right" style="font-size: 15px;">General Contact :</div>
      <div class="col-6 col-sm-6 col-md-6 col-xl-6 align-h-left" style="font-size: 13px;"
        *ngIf="hospitalInfo && hospitalInfo.generalDContact">{{hospitalInfo.generalDContact}}</div>
    </div>
    <div class="row">
      <div class="col-6 col-sm-6 col-md-6 col-xl-6 align-h-right" style="font-size: 15px;">Emergency Contact :</div>
      <div class="col-6 col-sm-6 col-md-6 col-xl-6 align-h-left" style="font-size: 13px;"
        *ngIf="hospitalInfo && hospitalInfo.emergencyDContact">{{hospitalInfo.emergencyDContact}}</div>
    </div>
    <div class="row align-v-top">
      <div class="col-6 col-sm-6 col-md-6 col-xl-6 align-h-right" style="font-size: 15px;">Address :</div>
      <div class="col-6 col-sm-6 col-md-6 col-xl-6 align-h-left" style="font-size: 13px;"
        *ngIf="hospitalInfo && hospitalInfo.hAddress">{{hospitalInfo.hAddress}}</div>
    </div>
    <div class="row">
      <div class="col-6 col-sm-6 col-md-6 col-xl-6 align-h-right" style="font-size: 15px;">Approval Status:</div>
      <div class="col-6 col-sm-6 col-md-6 col-xl-6 align-h-left" style="font-size: 13px;" *ngIf="hospitalInfo">
        {{hospitalInfo.astatus === false ? 'In-progress' : 'Approved'}}</div>
    </div>
    <div class="row controls">
      <div class="col-12 col-sm-12 col-md-12 col-xl-12">
        <button type="button" class="btn btn-sm btn-outline-secondary" (click)="CloseInfoModal();">Cancel</button>
      </div>
    </div>
  </div>
</ng-template>