<section class="vmedo-store-mobile-section-2 pb-4 bg-white">
    <swiper [config]="vmedo_store_mobile">
      <ng-template swiperSlide>
        <div class="medical-supply-mobile-card bg-white shadow-md rounded-md p-2" onclick="window.location.href='https://store.vmedo.com/products/super-saver-combo-of-glucometer-25-strips-bp-monitor-thermometer-pulse-oximeter-vapouriser?sku_id=31802337'">
          <div class="text-left px-2">
            <p class="font-medium text-gray-800" style="font-size: 14px">
              Glucometer
            </p>
          </div>

          <div class="flex items-center p-3">
            <img src="assets/images/website-images/store-images/vmedo_store-6.png" alt="Image" class="w-full" />
          </div>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="medical-supply-mobile-card bg-white shadow-md rounded-md p-2" onclick="window.location.href='https://store.vmedo.com/'">
          <div class="text-left px-2">
            <p class="font-medium text-gray-800" style="font-size: 14px">
              BPAP/CPAP
            </p>
          </div>

          <div class="flex items-center p-3">
            <img src="assets/images/website-images/store-images/vmedo_store-7.png" alt="Image" class="w-full" />
          </div>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="medical-supply-mobile-card bg-white shadow-md rounded-md p-2" onclick="window.location.href='https://store.vmedo.com/'">
          <div class="text-left px-2">
            <p class="font-medium text-gray-800" style="font-size: 14px">
              Water beds
            </p>
          </div>

          <div class="flex items-center p-3">
            <img src="assets/images/website-images/store-images/vmedo_store-8.png" alt="Image" class="w-full" />
          </div>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="medical-supply-mobile-card bg-white shadow-md rounded-md p-2" onclick="window.location.href='https://store.vmedo.com/products/hot-cold-pack?sku_id=51963356'">
          <div class="text-left px-2">
            <p class="font-medium text-gray-800" style="font-size: 14px">
              Hot and cold pack
            </p>
          </div>

          <div class="flex items-center p-3">
            <img src="assets/images/website-images/store-images/vmedo_store-9.png" alt="Image" class="w-full" />
          </div>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="medical-supply-mobile-card bg-white shadow-md rounded-md p-2" onclick="window.location.href='https://store.vmedo.com/products/foldable-walker-aluminium?sku_id=51815473'">
          <div class="text-left px-2">
            <p class="font-medium text-gray-800" style="font-size: 14px">
              Walkables
            </p>
          </div>

          <div class="flex items-center p-3">
            <img src="assets/images/website-images/store-images/vmedo_store-10.png" alt="Image" class="w-full" />
          </div>
        </div>
      </ng-template>


    </swiper>
  </section>