<section class="medical-supplies-section py-10 px-8">
    <h2 class="text-3xl mb-8 pl-9 font-medium">Medical supplies</h2>

    <div class="px-3">
      <swiper class="px-3" [config]="care_at_home_dektop">

        <ng-template swiperSlide>
          <div class="bg-white medical-supply-card mx-auto rounded-lg shadow-sm overflow-hidden">
            <img src="assets/images/website-images/store-images/vmedo_store-1.png" alt="Image Description"
              class="object-cover p-3 image-hover" />
            <p class="text-center text-base font-medium px-3">
              Home First aid kits
            </p>
          </div>

          <div class="text-center" style="margin-top: -10%">
            <button class="bg-red-700 text-white py-1 px-3 rounded-md" onclick="window.location.href='https://store.vmedo.com/products/vmedo-first-aid-kit-medium-with-first-aid-itmes-suitable-for-office-school-home-travel?sku_id=51752984'">
              View Product
            </button>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="bg-white medical-supply-card mx-auto rounded-lg shadow-sm overflow-hidden">
            <img src="assets/images/website-images/store-images/vmedo_store-2.png" alt="Image Description"
              class="object-cover p-3 image-hover" />
            <p class="text-center text-base font-medium px-3">
              Adult Diapers
            </p>
          </div>

          <div class="text-center" style="margin-top: -10%">
            <button class="bg-red-700 text-white py-1 px-3 rounded-md" onclick="window.location.href='https://store.vmedo.com/products/4u-adult-diapers-pull-up?sku_id=51937412'">
              View Product
            </button>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="bg-white medical-supply-card mx-auto rounded-lg shadow-sm overflow-hidden">
            <img src="assets/images/website-images/store-images/vmedo_store-3.png" alt="Image Description"
              class="object-cover p-3 image-hover" />
            <p class="text-center text-base font-medium px-3">
              Wheelchair

            </p>
          </div>

          <div class="text-center" style="margin-top: -10%" onclick="window.location.href='https://store.vmedo.com/products/foldable-wheelchair?sku_id=51802377'">
            <button class="bg-red-700 text-white py-1 px-3 rounded-md">
              View Product
            </button>
          </div>
        </ng-template>


        <ng-template swiperSlide>
          <div class="bg-white medical-supply-card mx-auto rounded-lg shadow-sm overflow-hidden">
            <img src="assets/images/website-images/store-images/vmedo_store-4.png" alt="Image Description"
              class="object-cover p-3 image-hover" />
            <p class="text-center text-base font-medium px-3">
              Oxygen concentrator

            </p>
          </div>

          <div class="text-center" style="margin-top: -10%" onclick="window.location.href='https://store.vmedo.com/'">
            <button class="bg-red-700 text-white py-1 px-3 rounded-md">
              View Product
            </button>
          </div>
        </ng-template>

        <ng-template swiperSlide>
          <div class="bg-white medical-supply-card mx-auto rounded-lg shadow-sm overflow-hidden">
            <img src="assets/images/website-images/store-images/vmedo_store-5.png" alt="Image Description"
              class="object-cover p-3 image-hover" />
            <p class="text-center text-base font-medium px-3">
              BP apparatus
            </p>
          </div>

          <div class="text-center" style="margin-top: -10%" onclick="window.location.href='https://store.vmedo.com/products/blood-pressure-apparatus?sku_id=51795955'">
            <button class="bg-red-700 text-white py-1 px-3 rounded-md">
              View Product
            </button>
          </div>
        </ng-template>

      </swiper>
    </div>
  </section>