.menu {
	position: absolute;
	top: calc(100% + -3px);
	right: 16px;
	width: 200px;
	min-height: 100px;
	background: #fff;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
	opacity: 0;
	transform: translateY(-10px);
	visibility: hidden;
	transition: 300ms;
}



.menu::before {
	content: "";
	position: absolute;
	top: -10px;
	right: 14px;
	width: 20px;
	height: 20px;
	background: #fff;
	transform: rotate(45deg);
	z-index: -1;
}

.menu.active {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
    z-index: 9;
}

/* menu links */

.menu ul {
	position: relative;
	display: flex;
	flex-direction: column;
	z-index: 10;
	background: #fff;
}

.menu ul li {
	list-style: none;
  text-decoration: none;
	color: #000;
	display: flex;
	align-items: center;
	padding: 15px 20px;
	gap: 6px;
  cursor: pointer;
}

.menu ul li:hover {
	background: #eee;
}



.menu ul li a i {
	font-size: 1.2em;
}

.menu{
    margin: 15px 0;
}