.dropdown-menu {
    position: absolute;
    top: 120%;
    left: -140%;
    background-color: #ffffff;
    color: #000000;
    padding: 8px 0;
    width: 55rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    z-index: 10;
    display: block;
  }
  
  
  .dropdown-menu a {
    display: block;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s;
  }
  
  .dropdown-menu a:hover {
    background-color: #f3f4f6;
    text-decoration: none;
    transition: transform 0.3s ease;
    transform: scale(.97);
    font-weight: 500;
    color: rgb(94, 10, 10);
  }