<section class="media-coverage-mobile-section bg-white py-4 px-3">
    <div class="pb-3">
      <h2 class="font-medium">Media coverage</h2>
    </div>

    <div>
      <div class="grid grid-cols-3 md:grid-cols-4 gap-10 px-3 pl-2">
        <!-- Card 1 -->
        <div class="media-card-mobile bg-white rounded-lg shadow-md">
          <img src="assets\new-images\images\images\vmedo-index-page-republic-tv.png" alt="Image 1"
            class="w-full h-full object-cover rounded-md" onclick="window.location.href=''" />
        </div>
        <!-- Card 2 -->
        <div class="media-card-mobile bg-white rounded-lg shadow-md">
          <img src="assets\new-images\images\images\vmedo-index-page-public-tv.jpg" alt="Image 2"
            class="w-full h-full object-cover rounded-md"
            onclick="window.location.href='https://www.youtube.com/watch?v=U314LBhM1_g'" />
        </div>
        <!-- Card 3 -->
        <div class="media-card-mobile bg-white rounded-lg shadow-md">
          <img src="assets\new-images\images\images\vmedo-index-page-your-story.jpg" alt="Image 3"
            class="w-full h-full object-cover rounded-md"
            onclick="window.location.href='https://yourstory.com/2018/02/healthcare-startup-vmedo/amp'" />
        </div>
        <!-- Card 4 -->
        <div class="media-card-mobile bg-white rounded-lg shadow-md">
          <img src="assets\new-images\images\images\vmedo-index-page-deccan-herald.png" alt="Image 4"
            class="w-full h-full object-cover rounded-md"
            onclick="window.location.href='https://www.deccanherald.com/metrolife/medical-emergency-app-helping-713536.html'" />
        </div>
        <!-- Card 5 -->
        <div class="media-card-mobile bg-white rounded-lg shadow-md">
          <img src="assets/images/website-images/vmedo-media-4.png" alt="Image 3"
            class="w-full h-full object-cover rounded-md"
            onclick="window.location.href='https://yourstory.com/2018/02/healthcare-startup-vmedo/amp'" />
        </div>
        <!-- Card 6 -->
        <div class="media-card-mobile bg-white rounded-lg shadow-md">
          <img src="assets/images/website-images/vmedo-media-5.png" alt="Image 4"
            class="w-full h-full object-cover rounded-md"
            onclick="window.location.href='https://www.deccanherald.com/metrolife/medical-emergency-app-helping-713536.html'" />
        </div>
      </div>
    </div>
  </section>