<section class="Diagnostics-care-at-home-section py-4 bg-white">
    <div class="pb-3 px-3">
      <h2 class="font-medium">Diagnostics at home</h2>
    </div>

    <swiper [config]="vmedo_urgent_care_at_home_mobile" class="pl-3">
      <ng-template swiperSlide>
        <div class="emergency-care-at-home-card-mobile bg-gray-100 rounded-md"
          [routerLink]="'/services/diagnostics-at-home'">
          <div style="display: flex; justify-content: center">
            <img src="assets/images/website-images/care_at_home_7.jpg" alt="Banner 4" style="width: 100%"
              class="rounded-md" />
          </div>
        </div>

        <div class="py-2">
          <p class="font-normal" style="font-size: 12px">ECG at home</p>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="emergency-care-at-home-card-mobile bg-gray-100 rounded-md"
          [routerLink]="'/services/diagnostics-at-home'">
          <div style="display: flex; justify-content: center">
            <img src="assets/images/website-images/diagnostics_at_home_1.png" alt="Banner 4" style="width: 100%"
              class="rounded-md" />
          </div>
        </div>

        <div class="py-2">
          <p class="font-normal" style="font-size: 12px">PFT at home</p>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="emergency-care-at-home-card-mobile bg-gray-100 rounded-md"
          [routerLink]="'/services/diagnostics-at-home'">
          <div style="display: flex; justify-content: center">
            <img src="assets/images/website-images/diagnostics_at_home_2.jpg" alt="Banner 4" style="width: 100%"
              class="rounded-md" />
          </div>
        </div>

        <div class="py-2">
          <p class="font-normal" style="font-size: 12px">
            Blood Test at home
          </p>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="emergency-care-at-home-card-mobile bg-gray-100 rounded-md"
          [routerLink]="'/services/diagnostics-at-home'">
          <div style="display: flex; justify-content: center">
            <img src="assets/images/website-images/diagnostics_at_home_3.jpg" alt="Banner 4" style="width: 100%"
              class="rounded-md" />
          </div>
        </div>

        <div class="py-2">
          <p class="font-normal" style="font-size: 12px">Full body checkup
          </p>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="emergency-care-at-home-card-mobile bg-gray-100 rounded-md"
          [routerLink]="'/services/diagnostics-at-home'">
          <div style="display: flex; justify-content: center">
            <img src="assets/images/website-images/diagnostics_at_home_8.jpeg" alt="Banner 4" style="width: 100%"
              class="rounded-md" />
          </div>
        </div>

        <div class="py-2">
          <p class="font-normal" style="font-size: 12px">Audiometry test at home</p>
        </div>
      </ng-template>

    </swiper>
  </section>