<section class="urgent-care-at-home-section py-4 bg-white">
    <div class="pb-3 px-3">
      <h2 class="font-medium">Urgent care at home</h2>
    </div>

    <swiper [config]="vmedo_urgent_care_at_home_mobile" class="pl-3">

      <ng-template swiperSlide>
        <div class="emergency-care-at-home-card-mobile bg-gray-100 rounded-md"
          [routerLink]="'/services/urgent-medical-care-at-home'">
          <div style="display: flex; justify-content: center">
            <img src="assets/images/website-images/care_at_home_5.png" alt="Banner 4" style="width: 100%"
              class="rounded-md" />
          </div>
        </div>

        <div class="py-2">
          <p class="font-normal" style="font-size: 12px">Treat Minor injuries <br> and illnesses</p>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="emergency-care-at-home-card-mobile bg-gray-100 rounded-md"
          [routerLink]="'/services/urgent-medical-care-at-home'">
          <div style="display: flex; justify-content: center">
            <img src="assets/images/website-images/diagnostics_at_home_6.png" alt="Banner 4" style="width: 100%"
              class="rounded-md" />
          </div>
        </div>

        <div class="py-2">
          <p class="font-normal" style="font-size: 12px">
            Injection / IV fluids
          </p>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="emergency-care-at-home-card-mobile bg-gray-100 rounded-md"
          [routerLink]="'/services/urgent-medical-care-at-home'">
          <div style="display: flex; justify-content: center">
            <img src="assets/images/website-images/care_at_home_9.jpg" alt="Banner 4" style="width: 100%"
              class="rounded-md" />
          </div>
        </div>

        <div class="py-2">
          <p class="font-normal" style="font-size: 12px">
            Wound Dressing
          </p>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="emergency-care-at-home-card-mobile bg-gray-100 rounded-md"
          [routerLink]="'/services/urgent-medical-care-at-home'">
          <div style="display: flex; justify-content: center">
            <img src="assets/images/website-images/care_at_home_3.png" alt="Banner 4" style="width: 100%"
              class="rounded-md" />
          </div>
        </div>

        <div class="py-2">
          <p class="font-normal" style="font-size: 12px">
            Vaccination at home
          </p>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="emergency-care-at-home-card-mobile bg-gray-100 rounded-md"
          [routerLink]="'/services/urgent-medical-care-at-home'">
          <div style="display: flex; justify-content: center">
            <img src="assets/images/website-images/care_at_home_8.jpg" alt="Banner 4" style="width: 100%"
              class="rounded-md" />
          </div>
        </div>

        <div class="py-2">
          <p class="font-normal" style="font-size: 12px">Catheterization</p>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="emergency-care-at-home-card-mobile bg-gray-100 rounded-md"
          [routerLink]="'/services/urgent-medical-care-at-home'">
          <div style="display: flex; justify-content: center">
            <img src="assets/images/website-images/care_at_home_10.jpg" alt="Banner 4" style="width: 100%"
              class="rounded-md" />
          </div>
        </div>

        <div class="py-2">
          <p class="font-normal" style="font-size: 12px">Ryles tube insertion</p>
        </div>
      </ng-template>

      <ng-template swiperSlide>
        <div class="emergency-care-at-home-card-mobile bg-gray-100 rounded-md"
          [routerLink]="'/services/urgent-medical-care-at-home'">
          <div style="display: flex; justify-content: center">
            <img src="assets/images/website-images/care_at_home_11.jpg" alt="Banner 4" style="width: 100%"
              class="rounded-md" />
          </div>
        </div>

        <div class="py-2">
          <p class="font-normal" style="font-size: 12px">Suture removal</p>
        </div>
      </ng-template>

    </swiper>
  </section>