@import "~@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


:host {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
  
  .home-container {
    max-width: none !important; /* Override the global container width */
    background-color: rgb(255, 255, 255);
  }
  
  .home-mobile-container {
    max-width: none !important; /* Override the global container width */
    background-color: rgb(255, 255, 255);
  }
  
  :root {
      --base-font-size: 16px; /* Define custom property for base font size */
    }
    
    h1 {
      font-size: 36px;
      line-height: 54px;
    }
    
    h2 {
      font-size: 24px;
      line-height: 36px;
    }
    
    h3 {
      font-size: 16px;
      line-height: 24px;
    }
    
    h4 {
      font-size: 10px;
      line-height: 15px;
    }
    
    p {
      font-size: var(--base-font-size); /* Use custom property for base font size */
      line-height: 1.5; /* Example line height */
    }
    
    .section {
      margin-bottom: 20px; /* Base section spacing */
    }
    
    .section + .section {
      margin-bottom: 32px; /* Next section spacing */
    }
    
    .section + .section + .section {
      margin-bottom: 52px; /* Subsequent section spacing */
    }
    
    /* Adjust as needed for more sections */
  
     /* Custom scrollbar styling */
  ::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Background color of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #ccc; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Border radius of the scrollbar thumb */
  }
  
  .our-lab-services-card {
    height: 280px;
    width: 500px;
    border: 1px solid lightgrey;
    padding: 20px;
    margin: auto;
    text-align: center;
  }

  .services-card{
    border: 1px solid lightgrey;
  }

  .doctor-consultation-card-mobile{
    width: 360px;
    height: 360px;
  }

  .subscription-card-mobile{
    /* width: 360px; */
    /* height: 250px; */
 
    width: 320px;
    border: 1px solid lightgrey;
    padding: 20px;
    margin: auto;
    text-align: center;
    transition: border-color 0.3s ease;

  }

  .media-card{
    height: 120px;
    width: 120px;
  }

      /* Add this CSS to your component's CSS file or globally */
.side-menu {
  transform: translateX(-100%);
}

.side-menu-open {
  transform: translateX(0);
}

.vmedo-more-card-mobile{
  height: 60%;
  width: 93%;
  margin-bottom: -40%;
  background-color: white;
}

.vmedo-more-card-mobile2{
  height: 70%;
  width: 93%;

  background-color: white;
}

.subscription-card-desktop {
  height: 500px;
  width: 320px;
  border: 1px solid lightgrey;
  padding: 20px;
  margin: auto;
  text-align: center;
  transition: border-color 0.3s ease;
  /* Add transition for smooth effect */
}

.subscription-card-desktop:hover {
  border-color: white;
  border: 2px solid rgb(228, 222, 222);
  /* Change border color to red on hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Box shadow */
}

.what-people-say-about-us-card {
  height: 450px;
  width: 300px;
  border: 1px solid lightgrey;
  padding: 20px;
  margin: auto;
  text-align: center;
  transition: border-color 0.3s ease;
  /* Add transition for smooth effect */
}

.what-people-say-about-us-card:hover {
  border-color: rgb(94, 10, 10);
  /* Change border color to red on hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Box shadow */
}

.what-people-say-about-us-card-desktop {
  height: 450px;
  width: 300px;
  border: 1px solid lightgrey;
  padding: 20px;
  margin: auto;
  text-align: center;
  transition: border-color 0.3s ease;
  /* Add transition for smooth effect */
}

.what-people-say-about-us-card-desktop:hover {
  border-color: rgb(94, 10, 10);
  /* Change border color to red on hover */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Box shadow */
}
  
  .footer-container{
    max-width: none !important;
  }

  .emergency-care-at-home-card-mobile{
    height: 140px;
    width: 140px;
  }


  .dropdown-menu {
    position: absolute;
    top: 120%;
    left: -140%;
    background-color: #ffffff;
    color: #000000;
    padding: 8px 0;
    width: 55rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    z-index: 10;
    display: block;
  }
  
  
  .dropdown-menu a {
    display: block;
    padding: 0.5rem 1rem;
    transition: background-color 0.2s;
  }
  
  .dropdown-menu a:hover {
    background-color: #f3f4f6;
    text-decoration: none;
    transition: transform 0.3s ease;
    /* Add transition for smooth effect */
    transform: scale(.97);
    /* Scale the card to 110% of its original size on hover */
    font-weight: 500;
    color: rgb(94, 10, 10);
  }

  
  
  
  .other-service-card-mobile{
    height: 120px;
    width: 120px;
  }

  .other-services-card-desktop{
    height: 180px;
    width: 180px;
  }
  .package-description ul {
  list-style: none; /* Remove default bullet */
  padding-left: 0;
}

.package-description li {
  position: relative;
  padding-left: 24px; /* Space for the icon */
  margin-bottom: 10px;
}

.package-description li::before {
  content: '✔️';
  position: absolute;
  left: 0;
  top: 0;
  color: white; /* Or your theme color */
  font-size: 1rem;
}