<section class="medical-supplies-section-2 py-10 px-8">
    <!-- <h2 class="text-3xl mb-8 pl-8 font-medium">More from VMEDO store</h2> -->

    <div class="px-6">
      <swiper class="px-3" [config]="vmedo_store_dektop">
        <ng-template swiperSlide>
          <div class="bg-white vmedo-store-desktop-card shadow-sm rounded-md mx-auto overflow-hidden" onclick="window.location.href='https://store.vmedo.com/products/super-saver-combo-of-glucometer-25-strips-bp-monitor-thermometer-pulse-oximeter-vapouriser?sku_id=31802337'">
            <img src="assets/images/website-images/store-images/vmedo_store-6.png" alt="Image Description"
              class="w-full h-full rounded-md object-cover p-2 image-hover" />
          </div>
          <p class="mt-3 text-center text-base font-medium px-3">
            Glucometer
          </p>
        </ng-template>
        <ng-template swiperSlide>
          <div class="bg-white vmedo-store-desktop-card shadow-sm rounded-md mx-auto overflow-hidden" onclick="window.location.href='https://store.vmedo.com/'">
            <img src="assets/images/website-images/store-images/vmedo_store-7.png" alt="Image Description"
              class="w-full h-full rounded-md object-cover p-2 image-hover" />
          </div>
          <p class="mt-3 text-center text-base font-medium px-3">
            BPAP/CPAP

          </p>
        </ng-template>
        <ng-template swiperSlide>
          <div class="bg-white vmedo-store-desktop-card shadow-sm rounded-md mx-auto overflow-hidden" onclick="window.location.href='https://store.vmedo.com/'">
            <img src="assets/images/website-images/store-images/vmedo_store-8.png" alt="Image Description"
              class="w-full h-full rounded-md object-cover p-2 image-hover" />
          </div>
          <p class="mt-3 text-center text-base font-medium px-3">
            Water beds
          </p>
        </ng-template>
        <ng-template swiperSlide>
          <div class="bg-white vmedo-store-desktop-card shadow-sm rounded-md mx-auto overflow-hidden" onclick="window.location.href='https://store.vmedo.com/products/hot-cold-pack?sku_id=51963356'">
            <img src="assets/images/website-images/store-images/vmedo_store-9.png" alt="Image Description"
              class="w-full h-full rounded-md object-cover p-2 image-hover" />
          </div>
          <p class="mt-3 text-center text-base font-medium px-3">
            Hot / cold pack
          </p>
        </ng-template>
        <ng-template swiperSlide>
          <div class="bg-white vmedo-store-desktop-card shadow-sm rounded-md mx-auto overflow-hidden" onclick="window.location.href='https://store.vmedo.com/products/foldable-walker-aluminium?sku_id=51815473'">
            <img src="assets/images/website-images/store-images/vmedo_store-10.png" alt="Image Description"
              class="w-full h-full rounded-md object-cover p-2 image-hover" />
          </div>
          <p class="mt-3 text-center text-base font-medium px-3">
            Walkables
          </p>
        </ng-template>

      </swiper>
    </div>
  </section>
