.body{
    height: calc(100vh - 165px);
    overflow: hidden;
}

.register,
.register > div{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register button{
    background: #ce2424;
    border: 1px solid #ce2424;
    color: #ffffff;
}
.register button:last-child{
    margin-left: 5px;
}
 .register button svg{
    fill: #ffffff;
    height: 15px;
    width: 15px;
}
.register button:hover svg{
   fill: #ce2424;
}
.register button:hover{
    background: #ffffff;
    color: #ce2424;
}
.blooddonation .create{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
}

.blooddonation .create > div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border: 2px solid #ce2424;
    border-radius: 50px;
}

.blooddonation .create > div:last-child{
    width: 100%;
    border: none;
}

.blooddonation .create > div:last-child > input[type=text]{
    width: calc(100% - 155px);
    margin-right: 5px;
}

.blooddonation .create > div:last-child > button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.blooddonation .create > div:last-child button.search2{
    margin-right: 5px !important;
    height: 40px;
    width: 40px;
}

.blooddonation .create > div:last-child button.add svg{
    margin-right: 5px !important;
}

.blooddonation .create > div:last-child > button > svg{
    margin-right: 0;
}

.blooddonation .create > div > svg{
    height: 30px;
    width: 30px;
    fill: #ce2424;
}

.blooddonation .create span{
    font-size: 15px;
    color: #ce2424;
}

.blooddonation .row.title{
    font-size: 20px;
    margin: 20px 0;
}

.blooddonation .row.title > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ce2424;
}

.blooddonation .row.title > div > div{
    /* border: 2px solid #ce2424; */
    background-color: #ffffff;
    border-radius: 50px;
    /* height: 80px;
    width: 80px; */
    /* padding: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.blooddonation .row.title > div > div > svg{
    height: 40px;
    width: 40px;
    fill: #ce2424;
}

.blooddonation .row.controls{
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.blooddonation .row.controls > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.blooddonation .row.controls button{
    min-width: 80px;
    border: 1px solid #ce2424;
    color: #ce2424;
}

.blooddonation .row.controls button{
    margin-right: 5px;
}

.blooddonation .row.controls button:last-child{
    margin-right: 0;
}

.blooddonation .row.controls a.register{
    text-decoration: underline;
    margin-top: 20px;
    color: #ce2424;
    cursor: pointer;
}

.blooddonation .row.controls a.register:hover{
    color: #e75454;
}

.blooddonation .row.controls button:hover,
.blooddonation .row.controls button:focus,
.blooddonation .row.controls button:active{
    background: #ce2424;
    color: #ffffff;
}

input[type=text],
input[type=password]{
   border: none;
   outline: none;
   margin: 5px 0;
   width: 100%;
   color: #666666;
   background: #f1f1f1;
   padding: 10px;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.192);
   /* transform: translateZ(0);
   -webkit-transform: translateZ(0);*/
   z-index: 1;
}

input[type=text]:hover,
input[type=text]:focus,
input[type=text]:active,
input[type=password]:hover,
input[type=password]:focus,
input[type=password]:active{
   background: #ececec;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.199);
}

.blooddonation .panel {
    /* margin: 0; */
    padding: 10px;
}

.blooddonation .panel .card{
    background: #ffffff;
    box-shadow: 0 1px 3px #cccccc;
    border-radius: 5px;
    font-size: 13px;
    padding: 10px;
    /* min-height: 100px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.blooddonation .panel .card > .row{
    width: 100%;
    padding-bottom: 10px;
}

.blooddonation .panel .card > .row .search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blooddonation .panel .card > .row .search button{
    border: 1px solid #ce2424;
    color: #ce2424;
    margin-left: 5px;
    padding: 8px 13px;
}

.blooddonation .panel .card > .row .search button svg{
    fill: #ce2424;
}

.blooddonation .panel .card > .row .search button:hover,
.blooddonation .panel .card > .row .search button:focus,
.blooddonation .panel .card > .row .search button:active{
    background: #ce2424;
    color: #ffffff;
}

.blooddonation .panel .card > .row .search svg{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.blooddonation .panel .card > .row .search button:hover svg,
.blooddonation .panel .card > .row .search button:focus svg,
.blooddonation .panel .card > .row .search button:active svg{
    fill: #ffffff;
}

.blooddonation .panel{
    padding-top: 0;
}

.blooddonation .panel:first-child{
    padding-top: 10px;
}
.blooddonation .panel:first-child .card {
    /* padding: 5px 10px; */
}

.blooddonation .panel:first-child .card > .row{
    padding-bottom: 0;
}
.padding-top-0{
    padding-top: 0 !important;
}

.blooddonation .panel:first-child .card > .row .search{
    padding: 0 10px;
}

.blooddonation .panel:first-child .card > .row .search:last-child{
    padding-top: 0 !important;
}

.blooddonation .card{
    padding-bottom: 20px !important;
}

.blooddonation .card > .row{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blooddonation .card > .row > div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.blooddonation .card > .row > div.head{
    font-size: 17px;
    color: #ce2424;
}

.blooddonation .card > .row > div.head > svg{
    height: 15px;
    width: 15px;
    margin-right: 5px;
    fill: #ce2424;
}

.blooddonation .card .contact{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.blooddonation .card .contact > div,
.blooddonation .card .contact > div > .row{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 10px; */
}

.blooddonation .card .contact > div{
    padding: 0;
}
.blooddonation .card .contact > div > .row{
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ce2424;
    border-radius: 3px;
    background: #fcf5f5;
}
.blooddonation .card .contact > div > .row > div:first-child,
.blooddonation .card .contact > div > .row > div:last-child{
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blooddonation .card .contact > div > .row > div:last-child{
    justify-content: flex-end;
}

.blooddonation .card .contact > div:nth-child(2){
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.blooddonation .card .contact > div:last-child button{
    border-color: #ce2424;
    background: #ce2424;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    /* width: 100%; */
}

.blooddonation .card .contact > div:last-child button:hover,
.blooddonation .card .contact > div:last-child button:focus,
.blooddonation .card .contact > div:last-child button:active{
    background: #ffffff;
    color: #ce2424;
}

.blooddonation .card .contact > div:last-child button svg{
    height: 15px;
    width: 15px;
    /* margin-right: 5px; */
    fill: #ffffff;
}

.blooddonation .card .contact > div:last-child button:hover svg,
.blooddonation .card .contact > div:last-child button:focus svg,
.blooddonation .card .contact > div:last-child button:active svg{
    fill: #ce2424;
}

.blooddonation .tab{
    /* overflow: auto; */
    padding: 0;
}

.blooddonation .table svg{
    height: 15px;
    width: 15px;
}

.blooddonation .table td:not(:last-child){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blooddonation .card{
    height: calc(100vh - 175px);
    overflow: auto;
}

.blooddonation .card .row:first-child{
    height: 100px;
}

.blooddonation .card .row:last-child{
    height: calc(100vh - 330px);
}

.modal-body textarea{
    z-index: 1 !important;
}





